<header>
    <div class="header-left">
      <img src="src/assets/images/logo.png" alt="Logo">
      <h1>
        <span class="moj">Мој</span><span class="majstor">Мајстор</span>
      </h1>
    </div> 
    <nav>
      <ul [class.show]="menuOpen">
        <li><a routerLink="/home" routerLinkActive="active">Почетна</a></li>
        <li><a routerLink="/profile" routerLinkActive="active">Профил</a></li>
        <li><a routerLink="/search" routerLinkActive="active">Пребарај</a></li>
        <li><a routerLink="/about" routerLinkActive="active">За Нас</a></li>
      </ul>
    </nav>
    
  </header>
  