<div class="register">
  <form (submit)="create()" [formGroup]="workerForm">
    <div class="input-group">
      <mat-form-field>
        <input matInput placeholder="Адреса" type="text" formControlName="address" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Општина</mat-label>
        <mat-select formControlName="municipality">
          <mat-option value="aerodrom">Аеродром</mat-option>
          <mat-option value="butel">Бутел</mat-option>
          <mat-option value="centar">Центар</mat-option>
          <mat-option value="gaziBaba">Гази Баба</mat-option>
          <mat-option value="gjorchePetrov">Ѓорче Петров</mat-option>
          <mat-option value="karposh">Карпош</mat-option>
          <mat-option value="kiselaVoda">Кисела Вода</mat-option>
          <mat-option value="chair">Чаир</mat-option>
          <mat-option value="saraj">Сарај</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Професија</mat-label>
        <mat-select formControlName="category">
          <mat-option value="AVTOMEHANICHAR">Автомеханичар</mat-option>
          <mat-option value="VODOINSTALATER">Водоинсталатер</mat-option>
          <mat-option value="ELEKTRICHAR">Електричар</mat-option>
          <mat-option value="MOLER">Молер</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Телефонски број" type="text" formControlName="phoneNumber">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Краток опис" type="text" formControlName="description">
      </mat-form-field>
    </div>

    <div class="button-group">
      <button mat-raised-button type="submit" [disabled]="!workerForm.valid">Стани мајстор</button>
      <button mat-button routerLink="/home">Почетна страна</button>
    </div>
  </form>
</div>

<button (click)="check()"></button>
